__pycache__/
*.pyc
*.pyo
services/__pycache__/
services/*.pyc
services/*.pyo
tests/__pycache__/
.cpython-*/
*.pyc
services/__pycache__/account_subscription.cpython-314.pyc
services/__pycache__/device_location.cpython-314.pyc
services/__pycache__/streaming.cpython-314.pyc
.env
